@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --color-text-light: #F241D5;
  --color-text-dark: #AF36BF;
  --color-text-darker: #7830BF;
  --color-text-white: #fff;

  /* Background */
  --color-background-primary:#0B0726;
  --color-background-secundary: #130C40;

  /* Fonts */
  --font-family-lato: 'Lato', sans-serif;
  --font-family-oswald: 'Oswald', sans-serif;
}

body{
  font-family: var(--font-family-lato);
}