*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.showcase{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-primary);
  color: var(--color-text-white);
  z-index: 2;
}

.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase header{
  position: fixed;
}

.logo_square_six{
  display: flex;
}

.logo{
  text-transform: uppercase;
  cursor: pointer;
}

.sing{
  list-style: none;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sing .sing_up a{
  color: var(--color-text-white);
  text-decoration: none;
  transition: .5s;
}

.sing .sing_up a:hover{
  color: var(--color-text-light);
}

.sing .sing_in a{
  color: var(--color-text-light);
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80px;
  height: 28px;
  background-color: var(--color-text-white);
  transition: .5s;
  border-radius: 3px;
}

.sing .sing_in a:hover{
  color: var(--color-text-white);
  background-color: var(--color-text-light);
}

.logo_square_six h2.division{
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
  width: 1px;
  height: 24px;
  background-color: var(--color-text-white);
}

.sing_division{
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  width: 1px;
  height: 24px;
  background-color: var(--color-text-white);
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.text{
  position: relative;
  z-index: 10;
}

.text h3{
  font-size: 50px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  padding-bottom: 20px;
  width: 600px;
}

.text p{
  font-size: 28px;
  margin: 20px 0;
  font-weight: 500;
  max-width: 700px;
}

.text a{
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  
  background-color: var(--color-text-darker);
  color: var(--color-text-white);
  padding: 10px 30px;
  text-decoration: none;
  
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 1s;
  border-radius: 3px;
}

.text a:hover{
  background-color: var(--color-text-white);
  color: var(--color-text-darker);
}

/* New section */

.content{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgb(37, 0, 28),
    var(--color-background-primary));
}

section {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  position: relative;
  width: 800px;
  height: 400px;
  background: var(--color-text-white);
  border-radius: 3px;
  overflow: hidden;
  max-width: 400px;
}

.container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}


.container .user .formBx {
  position: relative;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
  width: 100%;
}

.container .user .formBx form h2 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: var(--color-background-primary);
}

.container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: var(--color-background-primary);
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 3px;
}

.user .formBx form input[type='submit'] {
  max-width: 100px;
  background-color: var(--color-text-darker);
  color: var(--color-text-white);
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--color-background-primary);
  text-transform: uppercase;
  font-weight: 300;
}

form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text-darker);
}

.signupBx {
  pointer-events: none;
}

.container.active .signupBx {
  pointer-events: initial;
}

.signupBx .formBx {
  left: 100%;
}

.container.active .signupBx .formBx {
  left: 0;
}

.signinBx .formBx {
  left: 0%;
}

.container.active .signinBx .formBx {
  left: 100%;
}


/* ticket */

.section_login_ticket{
  display: flex;
  justify-content: space-around;
}

.card_ticket {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_ticket {
	position: absolute;
	border-bottom: solid;
	font-size: 20px;
	text-align: center;
	width: 70%;
	left: 50px;
  top: 5px;
}

.cinima_ticket {
	position: absolute;
	font-size: 26px;
	top: 50px;
	text-align: center;
	left: 100px;
}

.frase_ticket {
	position: absolute;
	border-top: solid;
	font-size: 12px;
	text-align: center;
	width: 70%;
	top: 93px;
	left: 50px;
	padding-top: 10px;
}

/* Numbers */
.numero_ticket {
	position: absolute;
	text-align: center;
	border-bottom: solid;
	font-size: 20px;
	width: 15%;
	top: 50px;
}

.esquerda_ticket {
	left: -10px;
	transform: rotate(270deg);
  width: 60px;
}

.direita_ticket {
	right: -15px;
	transform: rotate(90deg);
  width: 60px;
}

/* Corners */

.inverted-corner {
	box-sizing: border-box;
	position: relative;
	background-color: #fa1616;
	width: 300px;
	height: 130px;
	border: solid;
	border-left: 0px;
	border-right: 0px;
	border-color: var(--color-background-primary);
  transform: rotate(-30deg);
}

/* NEW SECTION */



/* END NEW SECTION */